*{
    margin: 0px;
    padding: 0px;
    border: border-box;
    font-family: 'Courier New', Courier, monospace;
    color: white;
}
body{
    background: url(/images/bg.jpg);
}
nav{
    width: 100vw;
    height: 75px;
    font-size: 2em;
    background-color: blanchedalmond;
    align-content: center;
}
nav ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}
nav ul li{
    list-style-type: none;
}
nav ul li a:hover{
    font-weight: bold;
    border-bottom-style: dotted;
}
nav ul li a{
    text-decoration: none;
    color: black;
}
#about{
    font-size: 2rem;
    text-align: center;
    padding-top: 35px;
    padding-bottom: 30px;
    height: 18em;
}
#me{
    height: 14em;
    width: 12em;
    border-radius: 50%;
}
h2{
    color: #0fffe9;
}
#pro ul li{
    list-style-type: none;
    border-bottom-style: dotted;
}
#pro ul li a{
    font-family: cursive;
    color: #ff9800;
}
#pro ul li a:hover{
    color: rgb(236, 147, 13);
    font-weight: bold;
}
#edu , #pro , #skill{
    display: flex;
    flex-direction: column;
    height: 12em;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 2em;
    padding-left: 50px;
    padding-right: 50px;
}
#edu p , #pro p, #skill p{
    margin-top: 30px;
}
 #contact{
    padding-top:20px;
    padding-bottom: 20px;
    text-align: center;
    font-size: 2em;
    height: 8em;
}#pro a{
    text-decoration: none;
}
#contact ul{
    display: flex;
    justify-content:space-around;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
}
.icon{
    height: 50px;
    width: 60px;
}
#btn{
    color: black;
    border-radius: 8px;
    height: 30px;
    width: 75px;
}
#btn:hover{
    cursor: pointer;
    font-weight: bold;
}
#contact form div input{
    font-size: 18px;
}
#contact ul li{
    list-style-type: none;
}
#contact ul li a{
    text-decoration: none;
}
@media (max-width:812px){
    #nav{
        height: max-content;
    }
    #edu , #pro{
        height:20em;
    }
    #edu,#pro,#skill{
        padding-left: 30px;
        padding-right: 30px;
    }
    #about{
        height: 20em;
    }
}
@media(max-width:558px){
    #me{
        width:92vw;
    }
    #about{
        height: 22em;
        padding-left: 8px;
        padding-right: 8px;
    }
    #edu , #pro{
        height:24em;
    }
    #contact{
        height: 10em;
    }
    #contact ul{
        margin-top: 27px;
    }
}
@media(max-width:520px){
    #skill{
        height: 16em;
    }
}
@media(max-width:400px){
    #edu , #pro{
        height: 26em;
    }
}
@media(max-width:350px){
    #edu,#pro{
        height: 30em;
    }
    #skill{
        height: 20em;
    }
    #contact div input{
        width: 60vw;
    }
}
