*{
    margin: 0px;
    padding: 0px;
    border: border-box;
}
nav{
    height: 50px;
    background-color: blanchedalmond;
    align-content: center;
}
nav ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}
nav ul li{
    list-style-type: none;
}
nav ul li a{
    text-decoration: none;
    color: black;
}
#about{
    font-family: cursive;
    font-size: 2rem;
    text-align: center;
}